/* Animasi untuk Toast Notification */
.toast-enter { 
    transform: translateY(100%); 
    opacity: 0; 
}

.toast-enter-active { 
    transform: translateY(0); 
    opacity: 1; 
    transition: all 0.3s ease-out; 
}

.toast-exit { 
    transform: translateY(0); 
    opacity: 1; 
}

.toast-exit-active { 
    transform: translateY(100%); 
    opacity: 0; 
    transition: all 0.3s ease-in; 
}

/* Menyembunyikan elemen tertentu saat mencetak struk */
@media print {
    .no-print { 
        display: none !important; 
    }
    
    body { 
        background-color: white; 
    }
    
    .print-area { 
        box-shadow: none !important; 
        margin: 0 !important; 
        width: 100% !important; 
        padding: 0 !important;
    }
}
